body {
  background-color: #fbfb97;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}

@keyframes bgfrm {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.bgImage {
  animation: bgfrm 0.5s linear;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
